.pic { float:right
/*    position: sticky;*/
} 
h1 {
   color: blue;
} 
p {
  color: blue;
}
 a:visited{
   color: blue;
}
 body {
    font-family: 'Courier New', monospace;
 }
.aboutme {
        background-color: blue; 
p {
   color: white;}
}
a:hover{
  color: white;
    font-weight: bold;
     background-color: blue; 
  style: "font-size:250%;"
}
