.pic {
  style:"float:right"
/*    position: sticky;*/
} 
h1 {
   color: blue;
} 
p {
  color: blue;
}
 a:visited{
   color: blue;
}
 

a:hover{
  color: white;
    font-weight: bold;
     background-color: blue; 
  style: "font-size:250%;"
}
